.box {
    margin: 1em;
}
textarea.textarea {
    resize: none;
    width: 50em;
    height: 2em;
    padding: 0.3em;
    font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
    font-size: 125%;
}
textarea[readonly] {
    border: none !important;
}
.math {
    font-size: 135%;
    letter-spacing: 120%;
}
