/*@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');*/
@import 'node_modules/katex/dist/katex.css';
@import 'node_modules/bulma/css/bulma.css';

body {
    padding: 1rem;
}
header {
    text-align: center;
    margin: 1rem auto 2rem auto;
}
.title {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-weight: 300;
}
input {
    font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
}
input.input[readonly] {
    border: none !important;
    box-shadow: none !important;
}
.math {
    margin: 1rem auto;
    font-size: 135%;
    letter-spacing: 120%;
}
