body {
    padding: 1em;
}
input {
    font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
}
input.input[readonly] {
    border: none !important;
    box-shadow: none !important;
}
.math {
    margin: 1em auto;
    font-size: 135%;
    letter-spacing: 120%;
}
